# Created by https://www.gitignore.io

### Android ###

# Gradle files
.gradle/
build/

# Local configuration file (sdk path, etc)
local.properties


### Intellij ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm

*.iml

## Directory-based project format:
.idea/

## Plugin-specific files:

# Crashlytics plugin (for Android Studio and IntelliJ)
crashlytics.properties
crashlytics-build.properties
