<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pluscubed.plustimer">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.pluscubed.plustimer.ui.CurrentSessionActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.pluscubed.plustimer.ui.HistorySessionListActivity"
            android:launchMode="singleTop" />

        <activity
            android:name="com.pluscubed.plustimer.ui.HistorySolveListActivity"
            android:parentActivityName="com.pluscubed.plustimer.ui.HistorySessionListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pluscubed.plustimer.ui.HistorySessionListActivity" />
        </activity>

        <activity
            android:name="com.pluscubed.plustimer.ui.SettingsActivity"
            android:parentActivityName="com.pluscubed.plustimer.ui.CurrentSessionActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pluscubed.plustimer.ui.CurrentSessionActivity" />
        </activity>
        <activity
            android:name="com.pluscubed.plustimer.ui.AboutActivity"
            android:launchMode="singleTop"
            android:parentActivityName="com.pluscubed.plustimer.ui.CurrentSessionActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pluscubed.plustimer.ui.CurrentSessionActivity" />
        </activity>
        <activity
            android:name="com.pluscubed.plustimer.ui.LicensesActivity"
            android:parentActivityName="com.pluscubed.plustimer.ui.AboutActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pluscubed.plustimer.ui.AboutActivity" />
        </activity>
    </application>

</manifest>
